.contains_visibles_on_hovers:hover .visible_on_hover {
    display: block;
    position: absolute;
    width: initial;
    background: green;
    border-radius:10px;
    padding:2px;
    margin-left:5px;
}

html, body {
    background-color: #AFE0FF
}

html, body, table {
    margin: 0;
}

.visible_on_hover {
    display: none;
}

.table {
    display: table
}

.table_row {
    display: table-row
}

.table_cell {
    display: table-cell
}

h1 {
    width: 100%;
    text-align: center;
}
