<!doctype html>
<html>
  <head>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Time</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for food in foods %}
          <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.description }}</td>
            <td>{{ food.time }}</td>
            <td>{{ food.location }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
